In [1]:
#Dependencies
import pandas as pd

In [2]:
#Reading in schools csv
schools = "Resources/raw_data/schools_complete.csv"
schools_read = pd.read_csv(schools)

In [3]:
#Reading in students csv
students = "Resources/raw_data/students_complete.csv"
students_read = pd.read_csv(students)

In [4]:
#creating the data frames
students_df = pd.DataFrame(students_read)
schools_df = pd.DataFrame(schools_read)

In [5]:
#renaming the school names from schools_df
schools_df = schools_df.rename(columns = {'name': 'school'})

In [6]:
#Merging the data frames
student_school = pd.merge(students_df, schools_df, on = 'school', how = 'outer')

In [7]:
# total number of students
total_students = student_school['Student ID'].count()

In [8]:
# total number of schools
num_schools = student_school["school"].nunique()

In [9]:
# total budget of schools
budget_schools = schools_df["budget"].sum()

In [10]:
# average math scores
avg_math_score = student_school['math_score'].mean()

In [11]:
# average reading score
avg_read_score = student_school['reading_score'].mean()

In [12]:
# total students passing math
# gets data frame to change the view of the 'math score' column to passing value
total_passing_math = student_school.loc[student_school['math_score'] > 69,:]
# stores the passing value number of students as a variable
num_passing_math = total_passing_math['Student ID'].count()

# calculating the percentage of students passing math
percent_pass_math = num_passing_math / total_students

# getting to display as a full percent
percent_pass_math_final = percent_pass_math * 100

In [13]:
# total students passing reading
# gets data frame to change the view of the 'reading score' column to passing value
total_passing_reading = student_school.loc[student_school['reading_score'] > 69,:]
# stores the passing value number of students as a variable
num_passing_reading = total_passing_reading['Student ID'].count()

# calculating the percentage of students passing reading
percent_pass_reading = num_passing_reading / total_students

# getting to display as a full percent
percent_pass_reading_final = percent_pass_reading * 100

In [14]:
# overall passing rate of both reading and math (Average of those passing reading and math)
overall_passing_rate = ((percent_pass_math + percent_pass_reading) / 2) *100

In [15]:
# creating the 'District Summary'
district_table = pd.DataFrame({'Total Schools': [num_schools],
                              'Total Students': [total_students],
                              'Total Budget': [budget_schools],
                             'Average Math Scores': [avg_math_score],
                               'Average Reading Scores': [avg_read_score],
                               'Percent Passing Math': [percent_pass_math_final],
                               'Percent Passing Reading': [percent_pass_reading_final]
                              })
district_table = district_table[['Total Schools',
                                'Total Students',
                                'Total Budget',
                                'Average Math Scores',
                                'Average Reading Scores',
                                'Percent Passing Math',
                                'Percent Passing Reading']]
district_table = district_table.round(2)

In [16]:
#formatting 'District Summary'
district_table['Total Students'] = district_table['Total Students'].map("{0:,}".format)
district_table['Total Budget'] = district_table['Total Budget'].map("${0:,.2f}".format)
district_table['Percent Passing Math'] = district_table['Percent Passing Math'].map("{0:,.2f}%".format)
district_table['Percent Passing Reading'] = district_table['Percent Passing Reading'].map("{0:,.2f}%".format)
district_table

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,Percent Passing Math,Percent Passing Reading
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%

In [17]:
#starting school summary
schools_df = schools_df.rename(columns = {'size': 'Number of Students'})

In [18]:
#budget per student
bud_per_student = schools_df['budget']/schools_df['Number of Students']
bud_per_student
#adding budget per student to schools_df
schools_df['Per Student Budget'] = bud_per_student
schools_df.head()

,School ID,school,type,Number of Students,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0

In [19]:
#DataFrame to work off of
merge_df = pd.merge(schools_df, students_df, on = 'school', how = 'outer')
merge_df.head()

,School ID,school,type,Number of Students,budget,Per Student Budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,655.0,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,655.0,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,655.0,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,655.0,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,655.0,4,Bonnie Ray,F,9th,97,84

In [20]:
#DataFrame to add to
means = merge_df.groupby('school').mean()
school_sum = pd.DataFrame(means)
school_sum

,School ID,Number of Students,budget,Per Student Budget,Student ID,reading_score,math_score
school,,,,,,,
Bailey High School,7.0,4976.0,3124928.0,628.0,20358.5,81.033963,77.048432
Cabrera High School,6.0,1858.0,1081356.0,582.0,16941.5,83.975780,83.061895
Figueroa High School,1.0,2949.0,1884411.0,639.0,4391.0,81.158020,76.711767
Ford High School,13.0,2739.0,1763916.0,644.0,36165.0,80.746258,77.102592
Griffin High School,4.0,1468.0,917500.0,625.0,12995.5,83.816757,83.351499
Hernandez High School,3.0,4635.0,3022020.0,652.0,9944.0,80.934412,77.289752
Holden High School,8.0,427.0,248087.0,581.0,23060.0,83.814988,83.803279
Huang High School,0.0,2917.0,1910635.0,655.0,1458.0,81.182722,76.629414
Johnson High School,12.0,4761.0,3094650.0,650.0,32415.0,80.966394,77.072464
Pena High School,9.0,962.0,585858.0,609.0,23754.5,84.044699,83.839917
Rodriguez High School,11.0,3999.0,2547363.0,637.0,28035.0,80.744686,76.842711
Shelton High School,2.0,1761.0,1056600.0,600.0,6746.0,83.725724,83.359455
Thomas High School,14.0,1635.0,1043130.0,638.0,38352.0,83.848930,83.418349
Wilson High School,5.0,2283.0,1319574.0,578.0,14871.0,83.989488,83.274201
Wright High School,10.0,1800.0,1049400.0,583.0,25135.5,83.955000,83.682222

In [21]:
#deleting unnecessary columns
del school_sum['School ID'], school_sum['budget']
school_sum

,Number of Students,Per Student Budget,Student ID,reading_score,math_score
school,,,,,
Bailey High School,4976.0,628.0,20358.5,81.033963,77.048432
Cabrera High School,1858.0,582.0,16941.5,83.975780,83.061895
Figueroa High School,2949.0,639.0,4391.0,81.158020,76.711767
Ford High School,2739.0,644.0,36165.0,80.746258,77.102592
Griffin High School,1468.0,625.0,12995.5,83.816757,83.351499
Hernandez High School,4635.0,652.0,9944.0,80.934412,77.289752
Holden High School,427.0,581.0,23060.0,83.814988,83.803279
Huang High School,2917.0,655.0,1458.0,81.182722,76.629414
Johnson High School,4761.0,650.0,32415.0,80.966394,77.072464
Pena High School,962.0,609.0,23754.5,84.044699,83.839917
Rodriguez High School,3999.0,637.0,28035.0,80.744686,76.842711
Shelton High School,1761.0,600.0,6746.0,83.725724,83.359455
Thomas High School,1635.0,638.0,38352.0,83.848930,83.418349
Wilson High School,2283.0,578.0,14871.0,83.989488,83.274201
Wright High School,1800.0,583.0,25135.5,83.955000,83.682222

In [22]:
#finding number of times a student from each school got a passing grade for reading
reading_score_df = merge_df[merge_df['reading_score'] > 69].groupby('school').count()
percent = pd.DataFrame(reading_score_df)
percent_score = (percent['reading_score'] / school_sum['Number of Students']) * 100
school_sum['Percent Passing Reading'] = percent_score
school_sum

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading
school,,,,,,
Bailey High School,4976.0,628.0,20358.5,81.033963,77.048432,81.933280
Cabrera High School,1858.0,582.0,16941.5,83.975780,83.061895,97.039828
Figueroa High School,2949.0,639.0,4391.0,81.158020,76.711767,80.739234
Ford High School,2739.0,644.0,36165.0,80.746258,77.102592,79.299014
Griffin High School,1468.0,625.0,12995.5,83.816757,83.351499,97.138965
Hernandez High School,4635.0,652.0,9944.0,80.934412,77.289752,80.862999
Holden High School,427.0,581.0,23060.0,83.814988,83.803279,96.252927
Huang High School,2917.0,655.0,1458.0,81.182722,76.629414,81.316421
Johnson High School,4761.0,650.0,32415.0,80.966394,77.072464,81.222432
Pena High School,962.0,609.0,23754.5,84.044699,83.839917,95.945946
Rodriguez High School,3999.0,637.0,28035.0,80.744686,76.842711,80.220055
Shelton High School,1761.0,600.0,6746.0,83.725724,83.359455,95.854628
Thomas High School,1635.0,638.0,38352.0,83.848930,83.418349,97.308869
Wilson High School,2283.0,578.0,14871.0,83.989488,83.274201,96.539641
Wright High School,1800.0,583.0,25135.5,83.955000,83.682222,96.611111

In [23]:
# calculating and adding percentage passing math to student summary table
math_score_df = merge_df[merge_df['math_score'] > 69].groupby('school').count()
percent_math = pd.DataFrame(math_score_df)
percent_math_score = (percent_math['reading_score'] / school_sum['Number of Students']) * 100
school_sum['Percent Passing Math'] = percent_math_score
school_sum

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading,Percent Passing Math
school,,,,,,,
Bailey High School,4976.0,628.0,20358.5,81.033963,77.048432,81.933280,66.680064
Cabrera High School,1858.0,582.0,16941.5,83.975780,83.061895,97.039828,94.133477
Figueroa High School,2949.0,639.0,4391.0,81.158020,76.711767,80.739234,65.988471
Ford High School,2739.0,644.0,36165.0,80.746258,77.102592,79.299014,68.309602
Griffin High School,1468.0,625.0,12995.5,83.816757,83.351499,97.138965,93.392371
Hernandez High School,4635.0,652.0,9944.0,80.934412,77.289752,80.862999,66.752967
Holden High School,427.0,581.0,23060.0,83.814988,83.803279,96.252927,92.505855
Huang High School,2917.0,655.0,1458.0,81.182722,76.629414,81.316421,65.683922
Johnson High School,4761.0,650.0,32415.0,80.966394,77.072464,81.222432,66.057551
Pena High School,962.0,609.0,23754.5,84.044699,83.839917,95.945946,94.594595
Rodriguez High School,3999.0,637.0,28035.0,80.744686,76.842711,80.220055,66.366592
Shelton High School,1761.0,600.0,6746.0,83.725724,83.359455,95.854628,93.867121
Thomas High School,1635.0,638.0,38352.0,83.848930,83.418349,97.308869,93.272171
Wilson High School,2283.0,578.0,14871.0,83.989488,83.274201,96.539641,93.867718
Wright High School,1800.0,583.0,25135.5,83.955000,83.682222,96.611111,93.333333

In [24]:
school_sum['Overall Passing Rate'] = ((school_sum['Percent Passing Reading'] + school_sum['Percent Passing Math']) / 2).groupby('school').sum()
school_sum

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
school,,,,,,,,
Bailey High School,4976.0,628.0,20358.5,81.033963,77.048432,81.933280,66.680064,74.306672
Cabrera High School,1858.0,582.0,16941.5,83.975780,83.061895,97.039828,94.133477,95.586652
Figueroa High School,2949.0,639.0,4391.0,81.158020,76.711767,80.739234,65.988471,73.363852
Ford High School,2739.0,644.0,36165.0,80.746258,77.102592,79.299014,68.309602,73.804308
Griffin High School,1468.0,625.0,12995.5,83.816757,83.351499,97.138965,93.392371,95.265668
Hernandez High School,4635.0,652.0,9944.0,80.934412,77.289752,80.862999,66.752967,73.807983
Holden High School,427.0,581.0,23060.0,83.814988,83.803279,96.252927,92.505855,94.379391
Huang High School,2917.0,655.0,1458.0,81.182722,76.629414,81.316421,65.683922,73.500171
Johnson High School,4761.0,650.0,32415.0,80.966394,77.072464,81.222432,66.057551,73.639992
Pena High School,962.0,609.0,23754.5,84.044699,83.839917,95.945946,94.594595,95.270270
Rodriguez High School,3999.0,637.0,28035.0,80.744686,76.842711,80.220055,66.366592,73.293323
Shelton High School,1761.0,600.0,6746.0,83.725724,83.359455,95.854628,93.867121,94.860875
Thomas High School,1635.0,638.0,38352.0,83.848930,83.418349,97.308869,93.272171,95.290520
Wilson High School,2283.0,578.0,14871.0,83.989488,83.274201,96.539641,93.867718,95.203679
Wright High School,1800.0,583.0,25135.5,83.955000,83.682222,96.611111,93.333333,94.972222

In [25]:
top_performers = school_sum.sort_values('Overall Passing Rate',ascending = False)
top_performers

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
school,,,,,,,,
Cabrera High School,1858.0,582.0,16941.5,83.975780,83.061895,97.039828,94.133477,95.586652
Thomas High School,1635.0,638.0,38352.0,83.848930,83.418349,97.308869,93.272171,95.290520
Pena High School,962.0,609.0,23754.5,84.044699,83.839917,95.945946,94.594595,95.270270
Griffin High School,1468.0,625.0,12995.5,83.816757,83.351499,97.138965,93.392371,95.265668
Wilson High School,2283.0,578.0,14871.0,83.989488,83.274201,96.539641,93.867718,95.203679
Wright High School,1800.0,583.0,25135.5,83.955000,83.682222,96.611111,93.333333,94.972222
Shelton High School,1761.0,600.0,6746.0,83.725724,83.359455,95.854628,93.867121,94.860875
Holden High School,427.0,581.0,23060.0,83.814988,83.803279,96.252927,92.505855,94.379391
Bailey High School,4976.0,628.0,20358.5,81.033963,77.048432,81.933280,66.680064,74.306672
Hernandez High School,4635.0,652.0,9944.0,80.934412,77.289752,80.862999,66.752967,73.807983
Ford High School,2739.0,644.0,36165.0,80.746258,77.102592,79.299014,68.309602,73.804308
Johnson High School,4761.0,650.0,32415.0,80.966394,77.072464,81.222432,66.057551,73.639992
Huang High School,2917.0,655.0,1458.0,81.182722,76.629414,81.316421,65.683922,73.500171
Figueroa High School,2949.0,639.0,4391.0,81.158020,76.711767,80.739234,65.988471,73.363852
Rodriguez High School,3999.0,637.0,28035.0,80.744686,76.842711,80.220055,66.366592,73.293323

In [26]:
bottom_performers = school_sum.sort_values('Overall Passing Rate')
bottom_performers

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
school,,,,,,,,
Rodriguez High School,3999.0,637.0,28035.0,80.744686,76.842711,80.220055,66.366592,73.293323
Figueroa High School,2949.0,639.0,4391.0,81.158020,76.711767,80.739234,65.988471,73.363852
Huang High School,2917.0,655.0,1458.0,81.182722,76.629414,81.316421,65.683922,73.500171
Johnson High School,4761.0,650.0,32415.0,80.966394,77.072464,81.222432,66.057551,73.639992
Ford High School,2739.0,644.0,36165.0,80.746258,77.102592,79.299014,68.309602,73.804308
Hernandez High School,4635.0,652.0,9944.0,80.934412,77.289752,80.862999,66.752967,73.807983
Bailey High School,4976.0,628.0,20358.5,81.033963,77.048432,81.933280,66.680064,74.306672
Holden High School,427.0,581.0,23060.0,83.814988,83.803279,96.252927,92.505855,94.379391
Shelton High School,1761.0,600.0,6746.0,83.725724,83.359455,95.854628,93.867121,94.860875
Wright High School,1800.0,583.0,25135.5,83.955000,83.682222,96.611111,93.333333,94.972222
Wilson High School,2283.0,578.0,14871.0,83.989488,83.274201,96.539641,93.867718,95.203679
Griffin High School,1468.0,625.0,12995.5,83.816757,83.351499,97.138965,93.392371,95.265668
Pena High School,962.0,609.0,23754.5,84.044699,83.839917,95.945946,94.594595,95.270270
Thomas High School,1635.0,638.0,38352.0,83.848930,83.418349,97.308869,93.272171,95.290520
Cabrera High School,1858.0,582.0,16941.5,83.975780,83.061895,97.039828,94.133477,95.586652

In [27]:
#find average math grades per grade grouped by school...Must reset index
math_grade9 = merge_df[merge_df['grade'] == '9th']
group_math_grade9 = math_grade9.groupby('school').math_score.mean()
group_math_grade9 = group_math_grade9.reset_index()

math_grade10 = merge_df[merge_df['grade'] == '10th']
group_math_grade10 = math_grade10.groupby('school').math_score.mean()
group_math_grade10 = group_math_grade10.reset_index()

math_grade11 = merge_df[merge_df['grade'] == '11th']
group_math_grade11 = math_grade11.groupby('school').math_score.mean()
group_math_grade11 = group_math_grade11.reset_index()


math_grade12 = merge_df[merge_df['grade'] == '12th']
group_math_grade12 = math_grade12.groupby('school').math_score.mean()
group_math_grade12 = group_math_grade12.reset_index()

#converting to DataFrames
group_math_grade9_df = pd.DataFrame(group_math_grade9)
group_math_grade9_df

group_math_grade10_df = pd.DataFrame(group_math_grade11)
group_math_grade10_df

group_math_grade11_df = pd.DataFrame(group_math_grade10)
group_math_grade11_df

group_math_grade12_df = pd.DataFrame(group_math_grade12)
group_math_grade12_df

#merging DataFrames
merge_grade = pd.merge(group_math_grade9_df, group_math_grade10_df, on = 'school',  how= 'outer')
#renaming columns to match, before next merge
merge_grade = merge_grade.rename(columns={'math_score_x': '9th', 'math_score_y': '10th'})

merge_grade = pd.merge(merge_grade, group_math_grade11_df, on = 'school',  how= 'outer')
merge_grade = pd.merge(merge_grade, group_math_grade12_df, on = 'school',  how= 'outer')

#renaming last columns
merge_grade = merge_grade.rename(columns={'math_score_x': '11th', 'math_score_y': '12th'})

merge_grade

                   school        9th       10th       11th       12th
0      Bailey High School  77.083676  77.515588  76.996772  76.492218
1     Cabrera High School  83.094697  82.765560  83.154506  83.277487
2    Figueroa High School  76.403037  76.884344  76.539974  77.151369
3        Ford High School  77.361345  76.918058  77.672316  76.179963
4     Griffin High School  82.044010  83.842105  84.229064  83.356164
5   Hernandez High School  77.438495  77.136029  77.337408  77.186567
6      Holden High School  83.787402  85.000000  83.429825  82.855422
7       Huang High School  77.027251  76.446602  75.908735  77.225641
8     Johnson High School  77.187857  77.491653  76.691117  76.863248
9        Pena High School  83.625455  84.328125  83.372000  84.121547
10  Rodriguez High School  76.859966  76.395626  76.612500  77.690748
11    Shelton High School  83.420755  83.383495  82.917411  83.778976
12     Thomas High School  83.590022  83.498795  83.087886  83.497041
13     Wilson High School  83.085578  83.195326  83.724422  83.035794
14     Wright High School  83.264706  83.836782  84.010288  83.644986

In [28]:
#find average math grades per grade grouped by school...Must reset index__________________ follow same as above
read_grade9 = merge_df[merge_df['grade'] == '9th']
group_read_grade9 = read_grade9.groupby('school').reading_score.mean()
group_read_grade9 = group_read_grade9.reset_index()

read_grade10 = merge_df[merge_df['grade'] == '10th']
group_read_grade10 = read_grade10.groupby('school').reading_score.mean()
group_read_grade10 = group_read_grade10.reset_index()

read_grade11 = merge_df[merge_df['grade'] == '11th']
group_read_grade11 = read_grade11.groupby('school').reading_score.mean()
group_read_grade11 = group_read_grade11.reset_index()

read_grade12 = merge_df[merge_df['grade'] == '12th']
group_read_grade12 = read_grade12.groupby('school').reading_score.mean()
group_read_grade12 = group_read_grade12.reset_index()

#converting to DataFrames
group_read_grade9_df = pd.DataFrame(group_read_grade9)
group_read_grade9_df

group_read_grade10_df = pd.DataFrame(group_read_grade11)
group_read_grade10_df

group_read_grade11_df = pd.DataFrame(group_read_grade10)
group_read_grade11_df

group_read_grade12_df = pd.DataFrame(group_read_grade12)
group_read_grade12_df

#merging DataFrames
read_merge_grade = pd.merge(group_read_grade9_df, group_read_grade10_df, on = 'school',  how= 'outer')
#renaming columns to match, before next merge
read_merge_grade = read_merge_grade.rename(columns={'reading_score_x': '9th', 'reading_score_y': '10th'})

read_merge_grade = pd.merge(read_merge_grade, group_read_grade11_df, on = 'school',  how= 'outer')
read_merge_grade = pd.merge(read_merge_grade, group_read_grade12_df, on = 'school',  how= 'outer')

#renaming last columns
read_merge_grade = read_merge_grade.rename(columns={'reading_score_x': '11th', 'reading_score_y': '12th'})

read_merge_grade

                   school        9th       10th       11th       12th
0      Bailey High School  81.303155  80.945643  80.907183  80.912451
1     Cabrera High School  83.676136  83.788382  84.253219  84.287958
2    Figueroa High School  81.198598  80.640339  81.408912  81.384863
3        Ford High School  80.632653  80.403642  81.262712  80.662338
4     Griffin High School  83.369193  84.288089  83.706897  84.013699
5   Hernandez High School  80.866860  81.396140  80.660147  80.857143
6      Holden High School  83.677165  83.815534  83.324561  84.698795
7       Huang High School  81.290284  81.417476  81.512386  80.305983
8     Johnson High School  81.260714  80.616027  80.773431  81.227564
9        Pena High School  83.807273  84.335938  83.612000  84.591160
10  Rodriguez High School  80.993127  80.864811  80.629808  80.376426
11    Shelton High School  84.122642  84.373786  83.441964  82.781671
12     Thomas High School  83.728850  83.585542  84.254157  83.831361
13     Wilson High School  83.939778  83.764608  84.021452  84.317673
14     Wright High School  83.833333  84.156322  83.812757  84.073171

In [29]:
#making  new dataframe to work on
#school_sum_1['Number of Students'] = schools_df['Number of Students']

school_sum_1 = pd.DataFrame(school_sum)
school_sum_2 = pd.DataFrame(school_sum)
school_sum_3 = pd.DataFrame(school_sum)

school_sum_3

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
school,,,,,,,,
Bailey High School,4976.0,628.0,20358.5,81.033963,77.048432,81.933280,66.680064,74.306672
Cabrera High School,1858.0,582.0,16941.5,83.975780,83.061895,97.039828,94.133477,95.586652
Figueroa High School,2949.0,639.0,4391.0,81.158020,76.711767,80.739234,65.988471,73.363852
Ford High School,2739.0,644.0,36165.0,80.746258,77.102592,79.299014,68.309602,73.804308
Griffin High School,1468.0,625.0,12995.5,83.816757,83.351499,97.138965,93.392371,95.265668
Hernandez High School,4635.0,652.0,9944.0,80.934412,77.289752,80.862999,66.752967,73.807983
Holden High School,427.0,581.0,23060.0,83.814988,83.803279,96.252927,92.505855,94.379391
Huang High School,2917.0,655.0,1458.0,81.182722,76.629414,81.316421,65.683922,73.500171
Johnson High School,4761.0,650.0,32415.0,80.966394,77.072464,81.222432,66.057551,73.639992
Pena High School,962.0,609.0,23754.5,84.044699,83.839917,95.945946,94.594595,95.270270
Rodriguez High School,3999.0,637.0,28035.0,80.744686,76.842711,80.220055,66.366592,73.293323
Shelton High School,1761.0,600.0,6746.0,83.725724,83.359455,95.854628,93.867121,94.860875
Thomas High School,1635.0,638.0,38352.0,83.848930,83.418349,97.308869,93.272171,95.290520
Wilson High School,2283.0,578.0,14871.0,83.989488,83.274201,96.539641,93.867718,95.203679
Wright High School,1800.0,583.0,25135.5,83.955000,83.682222,96.611111,93.333333,94.972222

In [30]:
#Dzimitry stuff trying to help 

# school_sum_1['type'] = pd.to_numeric(school_sum_1['type'])
#schools_df.reset_index(drop=True)
#school_sum_1.reset_index(drop=True)
#school_sum_1['type'] = 'ello'
#for i,v in enumerate(school_sum_1.loc[:,'type']):
    #print (i,v)
# for i, v in enumerate(school_sum_1['type']):
    
#     print(school_sum_1[i]['type'])
#     print(school_sum_1.loc[:,'type'])
# school_sum_1.add(schools_df['type'])

# schools_df['type']
# schools_df.transpose()
# stuff.iloc[i]['type'] = ''
# for i,v in enumerate(schools_df['type']):
#     stuff.iloc[i]['type'] = v
# school_sum_1.reset_index(drop=True)
# result = pd.concat([schools_df['type'],result], ignore_index=True)
# result
# result = school_sum_1.join( schools_df['type'] )
# result
# school_sum_1.reset_index(drop=True)

# school_sum_1['type'] = ''
# for i,v in enumerate(schools_df['type']):
#     print(i,v)
#     print(v)
#     school_sum_1.iloc[i].type = str(v)
#     print(school_sum_1.iloc[i]['type'])

# school_sum_1
# school_sum_1.type
# for i in school_sum_1['type']:
#     school_sum_1.iloc[i]['type'] = "Hello"
# school_sum_1

In [31]:
#school scores by spendings using school summary table, grouped by budget size 
#making bins and labels that correspond
bins = [575, 595, 615, 635, 700]
spending_range = ['< 575', '$595-614.99', '$615-634.99', '> $635']

#performing cut to categorize the data by school scores and spending using school_sum
pd.cut(school_sum_1['Per Student Budget'], bins, labels = spending_range).head()

#adding new column that shows where the school corresponds to the bin
school_sum_1['Budget View'] = pd.cut(school_sum_1['Per Student Budget'], bins, labels = spending_range)
#del school_sum_1['Number of Students'], school_sum_1['Per Student Budget']

#creating new variable that shows merge_df grouped by 'Budget View'
budget_group = school_sum_1.groupby('Budget View')

budget_group.mean()

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
Budget View,,,,,,,,
< 575,1592.000000,581.0,20002.000000,83.933814,83.455399,96.610877,93.460096,95.035486
$595-614.99,1361.500000,604.5,15250.250000,83.885211,83.599686,95.900287,94.230858,95.065572
$615-634.99,3222.000000,626.5,16677.000000,82.425360,80.199966,89.536122,80.036217,84.786170
> $635,3376.428571,645.0,21537.142857,81.368774,77.866721,82.995575,70.347325,76.671450

In [32]:
#school scores by spendings using school summary table, grouped by number of students
#making bins and labels that correspond
bins = [0, 1000, 2000, 5000]
school_size = ['Small (< 1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

#performing cut to categorize the data by school scores and spending using school_sum
pd.cut(school_sum_2['Number of Students'], bins, labels = school_size).head()

#adding new column that shows where the school corresponds to the bin
school_sum_2['Size-Score View'] = pd.cut(school_sum_2['Number of Students'], bins, labels = school_size)

#del school_sum_2['Number of Students'], school_sum_2['Per Student Budget']

#creating new variable that shows merge_df grouped by 'Budget View'
size_group = school_sum_2.groupby('Size-Score View')



size_group.mean()

,Number of Students,Per Student Budget,Student ID,reading_score,math_score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
Size-Score View,,,,,,,,
Small (< 1000),694.500,595.000,23407.2500,83.929843,83.821598,96.099437,93.550225,94.824831
Medium (1000-2000),1704.400,605.600,20034.1000,83.864438,83.374684,96.790680,93.599695,95.195187
Large (2000-5000),3657.375,635.375,18454.6875,81.344493,77.746417,82.766634,69.963361,76.364998

In [33]:
#school scores by spendings using school summary table, grouped by number of students
#making bins and labels that correspond
bins = ['Charter', 'District', 'Other']
school_type = ['Charter', 'District']

#performing cut to categorize the data by school scores and spending using school_sum
pd.cut(school_sum_3['type'], bins, labels = school_type).head()

#adding new column that shows where the school corresponds to the bin
school_sum_3['School-Type View'] = pd.cut(school_sum_3['type'], bins, labels = school_size)


#creating new variable that shows merge_df grouped by 'Budget View'
type_group = school_sum_3.groupby('School-Type View')

type_group

KeyError: 'type'